.orange-row {
    background-color: rgb(240, 176, 58); /* Set background color to orange */
  }
  
  .green-row {
    background-color: rgb(91, 245, 91); /* Set background color to green */
  }
  
  .red-row {
    background-color: rgb(236, 71, 71); /* Set background color to red */
  }