 .orange-row {
    background-color: orange; /* Set background color to orange */
  }
  
  .green-row {
    background-color: green; /* Set background color to green */
  }
  
  .red-row {
    background-color: red; /* Set background color to red */
  }
  